node_modules
.env
public/uploads

# Next.js
.next/
.next
**/.next/
**/.next
.env.local
.env.development.local
.env.production.local
.env.development
.env.production
.env.test
.env.test.local
.env.test.development
.env.test.production
.env.test.development.local
.env.test.production.local
.env.test.development.local
